.chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background: #131224;
  overflow: hidden;
  .container {
    border-radius: 12px;
    overflow: hidden;
    height: 85vh;
    width: 85vw;
    background: #221d39;
    display: flex;
  }
}
