.button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  background: #9980e7;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
