.container {
  position: relative;
  color: #fff;
  flex: 1;
  .chatHeader {
    background: #2b2838;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      & * {
        list-style-type: none;
      }
    }
    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .userName {
      h3 {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}
