.chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background: #131224;
  // overflow: hidden;
  .container {
    height: 85vh;
    width: 85vw;
    background: #0b0914;
    display: flex;
  }
}
